
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: 'Kaushan Script', cursive;
}

.footer{
	position: fixed;
	
}

img.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto }